In [ ]:
import pandas as pd

In [ ]:

url="https://raw.githubusercontent.com/Anasuya-Sahoo/DMDW-Lab/main/student-mat.csv"

In [ ]:
df=pd.read_csv(url)

In [ ]:
df.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

In [ ]:
import numpy as np
import seaborn as sbs
import matplotlib.pyplot as plt

In [ ]:
dfs=df[['schoolsup','famsup','paid','activities','nursery','higher','internet','romantic']]
dfs.head()

  schoolsup famsup paid activities nursery higher internet romantic
0       yes     no   no         no     yes    yes       no       no
1        no    yes   no         no      no    yes      yes       no
2       yes     no  yes         no     yes    yes      yes       no
3        no    yes  yes        yes     yes    yes      yes      yes
4        no    yes  yes         no     yes    yes       no       no

In [ ]:
dfs=dfs.replace('no',0)
dfs=dfs.replace('yes',1)
dfs.head()

   schoolsup  famsup  paid  activities  nursery  higher  internet  romantic
0          1       0     0           0        1       1         0         0
1          0       1     0           0        0       1         1         0
2          1       0     1           0        1       1         1         0
3          0       1     1           1        1       1         1         1
4          0       1     1           0        1       1         0         0

In [ ]:
dfs.cov()

            schoolsup    famsup      paid  ...    higher  internet  romantic
schoolsup    0.112729  0.017143 -0.003476  ...  0.004016 -0.001214 -0.012800
famsup       0.017143  0.237910  0.071342  ...  0.010795  0.018872  0.002866
paid        -0.003476  0.071342  0.248885  ...  0.020722  0.028536  0.001304
activities   0.007736 -0.000366 -0.005340  ...  0.010602  0.009099  0.004646
nursery      0.006239  0.011739  0.020600  ...  0.004819  0.001182  0.005250
higher       0.004016  0.010795  0.020722  ...  0.048191  0.001671 -0.010955
internet    -0.001214  0.018872  0.028536  ...  0.001671  0.139523  0.015370
romantic    -0.012800  0.002866  0.001304  ... -0.010955  0.015370  0.223068

[8 rows x 8 columns]

In [ ]:
dfs.corr()

            schoolsup    famsup      paid  ...    higher  internet  romantic
schoolsup    1.000000  0.104681 -0.020753  ...  0.054486 -0.009683 -0.080716
famsup       0.104681  1.000000  0.293184  ...  0.100815  0.103581  0.012440
paid        -0.020753  0.293184  1.000000  ...  0.189214  0.153132  0.005536
activities   0.046032 -0.001500 -0.021382  ...  0.096484  0.048663  0.019651
nursery      0.045967  0.059536  0.102143  ...  0.054303  0.007830  0.027495
higher       0.054486  0.100815  0.189214  ...  1.000000  0.020374 -0.105664
internet    -0.009683  0.103581  0.153132  ...  0.020374  1.000000  0.087122
romantic    -0.080716  0.012440  0.005536  ... -0.105664  0.087122  1.000000

[8 rows x 8 columns]

In [ ]:
n=np.array(dfs[['schoolsup','famsup']])
n=n.reshape(-1,2)
n.shape

(395, 2)

In [ ]:
m=np.array(dfs[['internet','romantic']])
m=n.reshape(-1,2)
m.shape

(395, 2)

In [ ]:
from scipy.spatial import distance

In [ ]:
dist_matrix=distance.cdist(n,m)
print(dist_matrix)

[[0.         1.41421356 0.         ... 1.         1.         1.        ]
 [1.41421356 0.         1.41421356 ... 1.         1.         1.        ]
 [0.         1.41421356 0.         ... 1.         1.         1.        ]
 ...
 [1.         1.         1.         ... 0.         0.         0.        ]
 [1.         1.         1.         ... 0.         0.         0.        ]
 [1.         1.         1.         ... 0.         0.         0.        ]]

In [ ]:
dfs.cov()

            schoolsup    famsup      paid  ...    higher  internet  romantic
schoolsup    0.112729  0.017143 -0.003476  ...  0.004016 -0.001214 -0.012800
famsup       0.017143  0.237910  0.071342  ...  0.010795  0.018872  0.002866
paid        -0.003476  0.071342  0.248885  ...  0.020722  0.028536  0.001304
activities   0.007736 -0.000366 -0.005340  ...  0.010602  0.009099  0.004646
nursery      0.006239  0.011739  0.020600  ...  0.004819  0.001182  0.005250
higher       0.004016  0.010795  0.020722  ...  0.048191  0.001671 -0.010955
internet    -0.001214  0.018872  0.028536  ...  0.001671  0.139523  0.015370
romantic    -0.012800  0.002866  0.001304  ... -0.010955  0.015370  0.223068

[8 rows x 8 columns]

In [5]:
import numpy as np

In [8]:
x=[1,2,3,4,5]
y=[4,88,7,9,66,55]
Covariance=np.cov(x,y)[0][1]
print(Covariance)

NameError: name 'np' is not defined